body{
    background-color:  #ffffff;
    font-family: Helvetica, sans-serif;
    width: 100%;
    overflow-x: hidden;

}
.navbar{
    background-color: #ffffff;
    padding: 2px;
}
.navbar-toggler{
    margin-right: 0;
    border: none;
    fill: #00765a;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.nav-links {
    text-decoration: none;
}
.nav-link:hover{
    text-decoration: underline;
}

#welkam{
    color:#00765a;
    margin-left: 80px;
    font-weight: bold;
}

#navbarNav{
    margin-right: 5px;
}
.container{
    color: #00765a;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
    padding-top: 3%;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-between;
}
.konten{
    margin-top: 100px;
    margin-left: 90px;
    width: 80%;
    
}
.gambar{
    max-width: 250px;
    margin-right: 200px;
}
.box{
    background-color: #00765a;
    border-radius: 7px;
    width: 150px;
    height: 40px;
    font-size: 9rem;
}
#Hello{
    margin-left: 20px;
    font-size: 1.7rem;
    font-weight: bold;
    color:  #ffffff;
    margin-bottom: 5px;
    width: 150px;
}
#nama {
    font-weight: bold;
    color:#00765a;
    margin-bottom: 1px;
    font-size: 4rem;
}
#bawah{
    margin-bottom: 2px;
}
#tombol{
    color: #00765a;
    text-decoration: underline;
    text-decoration-color: #00765a;
    text-decoration-style: solid;
    font-weight: bold;
}
@media (max-width: 768px) {
    #welkam {
        margin-left: 10px; 
    }
    
    .container{
        margin-left: -50px;
        flex-direction: column;
        height: auto;
        align-items: center;
        text-align: center;
    }
    .box{
        display: flex;
        margin-left: 30%;
    }
    .container img {
        width: 130%;
        margin-left: 100px;
    }
    .about{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .about img{
        width: 100%;
    }
}
.about{
    margin: 0;
    background-color: #00765a;
    color: #ffffff;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}
.abt{
    margin: 0;
    font-size: 54px;
}
.strip{
    background-color: #ffffff;
    height: 2px;
    border-radius: 2px;
    width: 90%;
    margin-bottom: 10px;
}
.teksabout{
    align-items: center;
    width: 40%;
    margin-right: 20px;
}
#text{
    margin: 10px 0 0;
    font-size: 16px;
    padding-right: 20px;
}

.nav-link {
    color: #00765a;
    margin-right: 100px;
}
.row{
    row-gap: 20px;
    column-gap: 0px;
}
#putih{
    padding: 40px;
    color: #00765a;
}
#port{
    padding: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.card img{
    padding: 10px;
    max-height: 320px;
}
.about img{
    display: flex;
    justify-content: flex-start;
    max-width: 600px;
    margin-right: 90px;
    border-radius: 5px;
    
}
.card{
    width: 100%;
    max-width: 280px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
    margin: auto;
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
}
.card:hover{
    transform: scale(1.1);
    background-color: #efeeee;
}
.card:active{
    transform: scale(1.2);
}
.card-title{
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
#gmbr{
    max-width: 60px;
}
.contact{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    text-decoration: none;
    align-items: center;
}
.contact a{
    text-decoration: none;
    color: #ffffff;
}

#imel{
    display: flex;
    justify-content:center;
    gap: 20px;
}
#imel h3{
    font-weight: bold;
    color: #00765a;
}
form{
    width: 40%;
    color:#00765a;
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(135, 133, 133, 0.7);    
}
.isiemail{
    width: 90%;
}
.isiemail input{
    border-radius: 5px;
    border: 1px solid;
    border-color: #00765a;
    padding: 3px;
    width: 35%;
    margin-bottom: 20px;
}
.isiemail button{
    background-color: #00765a;
    border: 1px solid;
    border-radius: 10px;
    padding: 7px;
    border-color: #ffffff;
    color: #ffffff;
    width: 100%;
    transition: background-color 0.3s;
}
.isiemail button:hover{
    background-color:#03daa7;
}
#komentar{
    display: flex;
    justify-content: flex-start;
    width: 90%;
}
#komentar label{
    text-align: right;
}
#komentar textarea{
    flex: 1;
    border-radius: 5px;
    border: 1px solid;
    border-color: #00765a;
    padding: 3px;
    margin-left: 2px;
    border-radius: 2px;
}
.kontak{
    width: 40%;
    background-color:#ffffff;
    border: 1px solid;
    border-color: #00765a;
    border-radius: 8px;
    padding: 10px 20px;
    margin-bottom: 30px;
}

#sosmed{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
#sosmed a{
    text-decoration: none;

}

.gmbrsos{
    width: 40px;
    height: 40px;
    object-fit: contain; /
}
footer {
    background-color:#00765a; 
    color:#ffffff;           
    text-align: center;       
    padding: 5px;                   
    width: 100%;     
    height: 40px;                    
}

@media (max-width: 768px){
    .about{
            justify-content: center;
    }
    .teksabout{
        width: 100%;
        margin-left: 20px;
    }
    .card{
        width: 300px;
    }
    .about img{
        display: none;
    }
    #imel{
        display: block;
    }
    form{
        width: 80%;
        margin-left: 35px;
    }
    .isiemail{
        display:inline;
        font-size: 50%;
    }
    .kontak{
        width: 80%;
        margin-left: 35px;
    }
}